<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {%load static%}
    <link rel='stylesheet' href="{% static 'store/css/bootstrap.min.css' %}">
    <title>Dashboard</title>
</head>

<body>
    <h1>Hello</h1>
    <table class="table table-hover" id='color'>
        <thead>
            <tr>
                <th scope="col" class='table-dark'>Item</th>
                <th scope="col" class='table-dark'>Added by</th>
                <th scope="col" class='table-dark'>Date Added</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dojo Tshirt</td>
                <td>$19.99</td>
            </tr>
            <tr>
                <td>Dojo Sweater</td>
                <td>$29.99</td>
            </tr>
        </tbody>
    </table>
</body>

</html>